<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>Note reader setting!</title>
  </head>
  <body>
    <h1>Note reader setting!</h1>

    <form>
      <label>Usuario</label>
      <input type="text" />
      <label>Senha</label>
      <input type="password" />

      <div id='teste'>uirewpqi</div>
    </form>

    <script src="../app/index.js"></script>
  </body>
</html>